<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Finals</title>

    <link rel="stylesheet" type="text/css" href="~/css/homepage.module.css" />

</head>

<body>
    <header>
        <div class="navbar">
            <div class="controller">
                <a href="@Url.Action("Index", "Home")">Guest Tracker</a>
                <a href="@Url.Action("Login", "User")">Login</a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
