@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="adminContainer">
    <div class="profit">
        <div class="revenue">
            <h2>Revenue</h2>
            <div class="revenueContainer">
                <div class="box">
                    <h2>500K</h2>
                    <span>Last 30 Days</span>
                </div>
                <div class="box">
                    <h2>250K</h2>
                    <span>Last 7 Days</span>
                </div>
                <div class="box">
                    <h2>60K</h2>
                    <span>Last 30 Days</span>
                </div>
            </div>
        </div>
        <div class="revenue">
            <h2>Booked</h2>
            <div class="bookContainer">
                <div class="box">
                    <h2>500K</h2>
                    <span>Last 30 Days</span>
                </div>
                <div class="box">
                    <h2>250K</h2>
                    <span>Last 7 Days</span>
                </div>
                <div class="box">
                    <h2>60K</h2>
                    <span>Last 30 Days</span>
                </div>
            </div>
        </div>
    </div>
    <div class="customer">
        <h2>New Customer</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Room Type</th>
                    <th>Pax</th>
                    <th>Nationality</th>
                    <th>Contact No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nathan Brooks</td>
                    <td>Sept 10</td>
                    <td>Sept 15</td>
                    <td>Family</td>
                    <td>4</td>
                    <td>PHILIPPINES</td>
                    <td>+63912345678</td>
                </tr>
                <tr>
                    <td>Lily cooper</td>
                    <td>Sept 11</td>
                    <td>Sept 14</td>
                    <td>Family</td>
                    <td>4</td>
                    <td>AUSTRALIA</td>
                    <td>+63912345678</td>
                </tr>
                <tr>
                    <td>Chloe Morgan</td>
                    <td>Sept 20</td>
                    <td>Sept 25</td>
                    <td>Family</td>
                    <td>4</td>
                    <td>AUSTRALIA</td>
                    <td>+63912345678</td>
                </tr>
                <tr>
                    <td>Samuel Hayes</td>
                    <td>Oct 10</td>
                    <td>Oct 15</td>
                    <td>Family</td>
                    <td>4</td>
                    <td>NEW JERSEY</td>
                    <td>+63912345678</td>
                </tr>
                <tr>
                    <td>Grace Turner</td>
                    <td>Oct 15</td>
                    <td>Oct 31</td>
                    <td>Standard</td>
                    <td>2</td>
                    <td>South Korea</td>
                    <td>+63912345678</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>