@model IEnumerable<Finals.Models.Bookings>;
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="adminContainer">
    <div class="profit">
        <div class="revenue">
            <h2>Revenue</h2>
            <div class="revenueContainer">
                <div class="box">
                    <h2>Standard Room</h2>
                    <span>Last 30 Days</span>
                </div>
                <div class="box">
                    <h2>Deluxe</h2>
                    <span>Last 7 Days</span>
                </div>
                <div class="box">
                    <h2>Supreme</h2>
                    <span>Last 30 Days</span>
                </div>
                <div class="box">
                    <h2>Suite</h2>
                    <span>Last 30 Days</span>
                </div>
                <div class="box">
                    <h2>Family</h2>
                    <span>Last 30 Days</span>
                </div>
            </div>
        </div>
    </div>
    <div class="customer">
        <h2>New Customer</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Room Type</th>
                    <th>Pax</th>
                    <th>Nationality</th>
                    <th>Contact No.</th>
                </tr>
            </thead>
            <tbody>
                @*@{
                    foreach (var elements in Model)
                    {
                        <tr>
                            <td>@elements.FirstName</td>
                        </tr>
                    };
                }
                *@
                
            </tbody>
        </table>
    </div>
</div>