@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Fullname</th>
            <th>Start Date</th>
            <th>Endate</th>
            <th>Statu</th>
            <th>Room</th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>