@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="settingsContainer">
    <h2>Change Password</h2>
    <form>

        <div>
            <label>Enter your new password</label>
            <input type="password" />
        </div>
        <div>
            <label>Re-type your new password</label>
            <input type="password" />
        </div>
        <button>Submit</button>
    </form>
</div>