@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <form>
        <input type="text" />
        <input type="password" />
        <button>Submit</button>
    </form>
</div>