@page
@model User

@{
    ViewBag.Title = "Login";
}

<!-- Add Bootstrap stylesheet link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="~/css/login.module.css" />

<div class="loginform">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-4">
            <!-- Display error message -->
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }


            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>Welcome, @User.Identity.Name!</p>
                        <form asp-controller="User" asp-action="Logout" method="post">
                            <button type="submit" class="btn btn-danger btn-block mb-4">Logout</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="User" asp-action="Login" method="post">
                            <!-- Username input -->
                            <div class="form-group mb-4">
                                <label for="loginName">Username</label>
                                <input type="text" id="loginName" name="DisplayName" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-group mb-4">
                                <label for="loginPassword">Password</label>
                                <input type="password" id="loginPassword" name="PasswordHash" class="form-control" />
                            </div>

                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                        <label class="form-check-label" for="loginCheck"> Remember me </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="@Url.Action("ForgotPassword", "User")">Forgot Password?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Not a member?<a href="@Url.Action("Register", "User")">Register</a></p>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <!-- Pills content -->
        </div>
    </div>
</div>
