@page
@model User

@{
    ViewBag.Title = "Register";
}

<!-- Add Bootstrap stylesheet link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="~/css/login.module.css" />

<div class="registerform">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-4">
            <!-- Pills content -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">

                    <!-- Display error message for username if it exists  -->
                    @{
                        var usernameErrorMessage = TempData["ErrorMessage"] as string;
                    }

                    @if (!string.IsNullOrEmpty(usernameErrorMessage))
                    {
                        <div class="alert alert-danger">
                            @usernameErrorMessage
                        </div>
                    }

                    <!-- Display error message for email if it exists  -->
                    @{
                        var emailErrorMessage = TempData["ErrorMessageB"] as string;
                    }

                    @if (!string.IsNullOrEmpty(emailErrorMessage))
                    {
                        <div class="alert alert-danger">
                            @emailErrorMessage
                        </div>
                    }
                    <form asp-action="Register" asp-controller="User" method="post">

                        <!-- First Name input -->
                        <div class="form-group mb-4">
                            <label for="registerFirstName">First Name</label>
                            <input type="text" id="registerFirstName" name="FirstName" class="form-control" required />
                        </div>

                        <!-- Last Name input -->
                        <div class="form-group mb-4">
                            <label for="registerLastName">Last Name</label>
                            <input type="text" id="registerLastName" name="LastName" class="form-control" required />
                        </div>

                        <!-- Email input for registration -->
                        <div class="form-group mb-4">
                            <label for="registerEmail">Email</label>
                            <input type="email" id="registerEmail" name="Email" class="form-control" />
                        </div>


                        <!-- Username input -->
                        <div class="form-group mb-4">
                            <label for="registerUsername">Username</label>
                            <input type="text" id="registerUsername" name="DisplayName" class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-group mb-4">
                            <label for="registerPassword">Password</label>
                            <input type="password" id="registerPassword" name="PasswordHash" class="form-control" />
                        </div>

                        <!-- Confirm Password input -->
                        <div class="form-group mb-4">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" />
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

                        <!-- Login link -->
                        <div class="text-center">
                            <p>Already a member? <a href="@Url.Action("Login", "User")">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Pills content -->
        </div>
    </div>
</div>
