

<style>
    a#swiftHotelLink {
        color: #000; /* Default color for other pages */
    }

    a#loginLink {
        color: #000; /* Default color for other pages */
    }

    a#guestTrackerLink {
        color: #000; /* Default color for other pages */
    }
</style>
<div class="guestContainer">
    <form>
        <inpu type="search" aria-placeholder="find your hotel status" />
        <button>GO!</button>
    </form>
</div>