/* _content/Finals/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-3mkk08q9qm] {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html[b-3mkk08q9qm] {
  padding: 0;
}
