.archiveContainer {
   width: 100%;
   table {
      width: 100%;
      tr {
         th {
            font-family: "Poppins";
         }
         td {
            height: 35px;
            font-family: "Oxygen";
            text-align: center;
         }
      }
   }
}
