.archiveContainer {
   width: 100%;
   table {
      width: 100%;
      tr {
         th {
            font-family: "Poppins";
         }
         td {
            font-family: "Oxygen";
         }
      }
   }
}
