@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.ss {
   width: 100%;
   background-color: #000;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("../images/background.jpg");
      display: block;
      opacity: 0.3;
      position: absolute;
      inset: 0;
   }
   .section {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      h1 {
         font-family: "Poppins";
         text-align: center;
         color: #fff;
      }
      p {
         font-family: "Oxygen";
         color: #fff;
      }
      .section2 {
         display: flex;
         align-items: center;
         gap: 5px;
      }
   }
}

.form {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px;

        h2 {
            font-size: 22px;
            font-family: "Poppins";
        }

        input,
        select {
            width: 100%;
            height: 35px;
            box-shadow: 0px 0px 3px 0px #ccc;
            border: none;
            padding: 0 10px;
        }

        select {
            height: 45px;
            padding: 5px;

            option {
                font-size: 16px;
            }
        }

        label {
            font-family: "Oxygen";
            font-size: 16px;
        }

        .email,
        .citizenship,
        .phoneNumber {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .fullname {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            .firstName,
            .lastName,
            .citizenship,
            .phoneNumber {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #ffd700;
            border-radius: 3px;
            font-weight: 600;
            border: none;
            color: #000;
            cursor: pointer;
        }
    }
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
