@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 100px;
}

header {
  position: relative;
}
header .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
  position: absolute;
}
header .navbar .controller {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 20px;
}
header .navbar .controller a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  font-family: "Oxygen";
  color: #fff;
  z-index: 999;
}

.main {
  width: 100%;
  height: 600px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
    height: auto;
  }
}
.main .focusContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .focusContainer h2 {
  font-size: 2rem;
  z-index: 999;
  font-family: "Poppins";
  color: #fff;
  text-align: center;
}
.main .focusContainer p {
  width: 800px;
  text-align: center;
  color: #fff;
  opacity: 1;
  font-size: 1rem;
  font-family: "Oxygen";
}
@media screen and (max-width: 1200px) {
  .main .focusContainer {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .focusContainer h2 {
    font-size: 1.6rem;
  }
  .main .focusContainer p {
    width: 100%;
  }
}
.main .bookingContainer {
  width: 800px;
  height: 80px;
  z-index: 999;
  position: absolute;
  bottom: -40px;
  background-color: #fff;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #ccc;
}
.main .bookingContainer form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.main .bookingContainer form .startDate,
.main .bookingContainer form .endDate,
.main .bookingContainer form .pax {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .bookingContainer form .startDate label,
.main .bookingContainer form .endDate label,
.main .bookingContainer form .pax label {
  font-family: "Oxygen";
}
.main .bookingContainer form .startDate input[type=date],
.main .bookingContainer form .endDate input[type=date],
.main .bookingContainer form .pax input[type=date] {
  width: 200px;
  height: 30px;
  font-family: "Oxygen";
  box-shadow: 0px 0px 3px 0px #ccc;
  border: none;
  padding: 0 5px;
}
.main .bookingContainer form .startDate input[type=number],
.main .bookingContainer form .endDate input[type=number],
.main .bookingContainer form .pax input[type=number] {
  width: 100px;
  height: 30px;
  font-family: "Oxygen";
  box-shadow: 0px 0px 3px 0px #ccc;
  border: none;
  padding: 0 5px;
}
.main .bookingContainer form button {
  width: 150px;
  height: 50px;
  background-color: #ffd700;
  border-radius: 3px;
  font-weight: 600;
  border: none;
  color: #000;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .main .bookingContainer {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main .bookingContainer form {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .main .bookingContainer form .startDate,
  .main .bookingContainer form .endDate,
  .main .bookingContainer form .pax {
    width: 100%;
  }
  .main .bookingContainer form .startDate input[type=date],
  .main .bookingContainer form .endDate input[type=date],
  .main .bookingContainer form .pax input[type=date] {
    width: 100%;
  }
  .main .bookingContainer form .startDate input[type=number],
  .main .bookingContainer form .endDate input[type=number],
  .main .bookingContainer form .pax input[type=number] {
    width: 100%;
  }
  .main .bookingContainer form button {
    width: 100%;
  }
}
.main::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/background.jpg");
  display: block;
  opacity: 0.3;
  position: absolute;
  inset: 0;
}

.about {
  width: 100%;
  height: auto;
}
.about .title {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .title h2 {
  font-family: "Poppins";
  font-size: 2rem;
}
.about .aboutContainer {
  width: 100%;
  display: flex;
  padding: 20px;
}
@media screen and (max-width: 1200px) {
  .about .aboutContainer {
    flex-direction: column;
    height: auto;
  }
  .about .aboutContainer .imageContainer {
    display: none;
  }
  .about .aboutContainer div .detachContainer {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
  }
  .about .aboutContainer div .detachContainer h2 {
    font-size: 1.6rem;
  }
  .about .aboutContainer div .detachContainer button {
    height: 60px;
  }
}
.about .aboutContainer div {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
}
.about .aboutContainer .detachContainer {
  border-radius: 3px;
  padding: 20px 30px;
  height: 450px;
  width: 750px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.about .aboutContainer .detachContainer h2 {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 300;
}
.about .aboutContainer .detachContainer p {
  font-size: 17px;
  font-family: "Oxygen";
}
.about .aboutContainer .detachContainer button {
  width: 100%;
  height: 50px;
  background-color: #ffd700;
  border: none;
  color: #000;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Oxygen";
}

.roomType {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.roomType .title {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.roomType .title h2 {
  font-family: "Poppins";
  font-size: 2rem;
}
.roomType .title p {
  width: 900px;
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .roomType h2 {
    font-size: 1.8rem;
  }
  .roomType p {
    width: 200px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .roomType .title h2 {
    font-size: 1.8rem;
  }
  .roomType .title p {
    width: auto;
    font-size: 1rem;
    padding: 0 20px;
  }
}
.roomType .roomContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .roomType .roomContainer {
    padding: 40px;
  }
  .roomType .roomContainer .box {
    padding: 20px;
  }
}
.roomType .roomContainer .box {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
.roomType .roomContainer .box:hover {
  box-shadow: 0px 0px 3px 0px #ccc;
}
.roomType .roomContainer .box .night {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.roomType .roomContainer .box .night span {
  text-align: center;
  font-size: 16px;
  font-family: "Oxygen";
}/*# sourceMappingURL=homepage.module.css.map */